body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-size: 2vh;
	font-family: "Roboto", sans-serif;
	font-weight: 200;
	background: black;
	color: white;
	overflow: hidden;
}

table {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 90vh;
}

td {
	width: 20vw;
	text-align: center;
	vertical-align: middle;
}

td .background {
	text-align: center;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	width: 14vw;
	height: 14vw;
	border-radius: 100%;
	background: #111;
}

td.neutral .background {
	background-color: gray;
}

td.success .background {
	background-color: green;
}

td.error .background {
 	background-color: red;
}

td.blink .background {
	animation-name: blink-animation;
	animation-duration: .8s;
	animation-iteration-count: 3;
}

@keyframes blink-animation {
	0%   {opacity: 1;}
	50%  {opacity: 0;}
	100% {opacity: 1;}
}

#waiting,
#current {
	position: absolute;
	width: 100vw;
	height: 10vh;
	bottom: 0;
	font-size: 2.8vh;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

#waiting p,
#current p {
	margin: 0;
	padding: 0;
	margin-top: 1.2vh;
}

#waiting p.heading,
#current p.heading {
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: .2vw;
	font-size: 1.6vh;
	margin: 0;
	padding: 0;
}

#waiting {
	padding-right: 1vw;
	left: -51vw;
	text-align: right;
}

#current {
	padding-left: 1vw;
	right: -51vw;
}

#waiting .item {
	display: inline-block;
	background: #fff;
	height: .8vh;
	width: .8vh;
	border-radius: .4vh;
	margin: .4vh;
	margin-right: .4vh;
	left: 0;
	top: 0;
	transition: all 500ms;
}

#waiting .item.new {
	margin-right: 50vw;
} 

#waiting .item.old {
	position: relative;
	left: 2.6vw;
	top: -.8vh;
	height: 0;
	width: 0;
	margin: 0;
}