@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(Roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(Roboto-Thin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
	margin: 0;
	padding: 0;
	width: 10vw;
	height: 10vh;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	background: black;
	color: wheat;
	overflow: hidden;
}

.back {
    background: white;
}

#area {
	margin: 0;
	padding: 0;
	width: 1280px;
	height: 800px;
	background: black;
	display: block;
	position: absolute;
	z-index: -1;
}

#textarea {
	margin: 0;
	padding: 0;
	width: 400px;
	height: 80px;
	top: 510px;
	left: 0px;
	background: black;
	display: block;
	position: absolute;
	z-index: -1;
}

header {
	position: fixed;
	width: 10vw;
	height: 10vh;
	top: 0;
	left: 0;
}

header img {
	height: 100%;
	margin: 3vh;
}

header a {
	color: #fff;
	font-size: 1.6em;
	position: absolute;
	right: 5vh;
	top: 5vh;
	text-decoration: none;
}

table {
	margin: 0;
	top: 60px;
	left: 31px;
	padding: 0;
	width: 885px;
	height: 470px;
	display: inline-block;
	position: absolute;
	text-align: center;
	background: black;
	border-collapse: collapse;
}

table.large {
	width: 320px;
	left: 915px;
}

#scales {
	width: 10vw;
	height: 70vh;
	margin: 0;
	padding: 0;
	/*display: inline-block; */
	display: none;
	position: fixed;
	top: 20vh;
	right: 5vw;
}

#scales .circles span {
	height: 4vh;
	width: 4vh;
	margin-top: .72vh;
	border-radius: 100%;
	border: 1px solid #fff;
	display: block;
}

#scales .circles span.green {
	border: 1px solid green;
	background: green;
}

#scales .circles span.yellow {
	border: 1px solid orange;
	background: orange;
}

#scales .circles span.red {
	border: 1px solid red;
	background: red;
}

#scales .circles {
	margin-top: 1.7vh;
}

#scales .lines {
	position: absolute;
	top: 0;
	left: 7vh;
}

#scales .lines span {
	width: 2.5vh;
	height: 0vh;
	border-bottom: 1px solid #fff;
	display: block;
	margin-top: 1.7vh;
	margin-bottom: 10.52vh;
}

tr {
	vertical-align: middle;
}


td {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 147.5px;
	height: 160px;
	text-align: center;
	vertical-align: middle;
	border: none;
	background: black;
	position: relative;
}

table.large td {
	height: 470px;
}

td .background,
td .error_bg {
	margin-top: 1px;
	text-align: center;
	vertical-align: bottom;
	position: relative;
	display: inline-block;
	width: 140px;
	height: 153px;
	border-radius: 35px;
	background: #131f16;
	transition: 300ms;
}

table.large td .background,
table.large td .error_bg {
	height: 472px;
}

td p {
	position: relative;
	top: -30px;
	font-size: .6em;
	transition: 300ms;
}

td.show .background {
	box-sizing: border-box;
	border: 10px solid #06c234;
	transition: 2000ms;
}

td.waiting .background {
	background-color: #606862;
}

td.use .background {
	background-color: #06c234;
}

.sauces div {
	font-size: 20px;
	display: none;
}

.sauces div.use {
	display: block;
}

td.use .background.decoration {
	background-color: #c6c234;
}

td.finished .background {
	background-color: #1a4a26;
}

td.ready {
	border: none;
}

td.ready .background {
	background-color: #000;
}

td.ready p {
	opacity: 0;
}

td .error_bg {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

@keyframes blink-animation {
	0%   {opacity: 0;}
	40%  {opacity: 1;}
	100% {opacity: 0;}
}

td.error .error_bg {
 	background-color: #FF0000;
 	animation-name: blink-animation;
 	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}

#setup {
	display: none;
	position: absolute;
	height: 48px;
	top: 170px;
	left: 60px;
}

#setup p {
	font-family: "Roboto-Thin";
}

#waiting,
#current {
	display: none;
	position: absolute;
	width: 390px;
	height: 120px;
	top: 540px;
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

#waiting p,
#current p {
	margin: 0;
	padding: 0;
	margin-top: 8px;
}

#waiting p.heading,
#current p.heading {
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1.6px;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#waiting {
	width: 100px;
	left: 0px;
	text-align: right;
}

#current {
	left: 150px;
}


#current.back {
	width: 600px;
	height: 50px;
	top: 300px;
	background: transparent;
	left: 250px;
}

#current.back #preparation {
	font-size: 50px;
	position: relative;
	top: -1em;
	left: -1em;
	width: auto;
	display: inline-block;
	padding: 1em;
}

#extras {
	font-size: 12px;
	position: relative;
	top: -6px;
}

#preparation {
	font-size: 20px;
	position: relative;
	top: -12px;
}

#waiting .item {
	display: inline-block;
	background: #fff;
	height: 6px;
	width: 6px;
	border-radius: 3px;
	margin: 3px;
	margin-right: 2px;
	left: 0;
	top: 0;
	transition: all 500ms;
}

#waiting .item.new {
	margin-right: 440px;
} 

#waiting .item.old {
	position: relative;
	left: 50px;
	top: -9px;
	height: 0;
	width: 0;
	margin: 0;
}

@keyframes countdown-animation {
	0%   {height: 30px; width: 30px; margin-top: 0; margin-left: 0;}
	20%  {height: 200px; width: 200px; margin-top: -85px; margin-left: -85px;}
	100% {height: 30px; width: 30px; margin-top: 0; margin-left: 0;}
}

#countdown {
	margin: 0;
	padding: 0;
	position: absolute;
	height: 30px;
	width: 30px;
	display: none;
	background: white;
	border-radius: 30px;
	top: 280px;
	left: 540px;
	animation-name: countdown-animation;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
}

#countdown.back {
	top: 385px;
	left: 625px;
}

#countdown.active {
	display: block;
}

.bg_animation {
	position: absolute;
	top: 3%;
	left: 2%;
	width: 97%;
	height: 94%;
	overflow: hidden;
	line-height: 5.9em;
}

.ingredientImage {
	animation-name: ingredient-animation;
	animation-duration: 4s;
	height: 100px;
	width: 100px;
	position:absolute;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes ingredient-animation {
	from { left: -50%;}
	to{ left : 100%;}
}

.ingredientText {
	font-size: 26px;
	animation-name: ingredient-animation;
	position:absolute;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.letter{
	display: inline-block;
	font-weight: 900;
	font-size: 10em;
	margin: 0.05em;
	text-transform: uppercase;
	position: relative;
	color: #291c2a;
	transform-style: preserve-3d;
	perspective: 400;
	z-index: 1;
	/*filter: blur(4px);*/
}

.letter:before, .letter:after{
	position:absolute;
	content: attr(data-letter);
	transform-origin: top left;
	top:0;
	left:0;
}

.letter, .letter:before, .letter:after{
	transition: all 0.3s ease-in-out;
}

@keyframes letter-before-animation {
	0% {margin-top: 0;
		color: #000;
		transform:
		rotateX(0deg)
		rotateY(-15deg)
		rotateZ(0deg);
	}
	50% {margin-top: 0px;
		color: #0a0a0a;
		transform:
		translateY(-3px)
		rotateX(0deg)
		rotateY(-30deg)
		rotateZ(0deg);
	}
	100% {
		margin-top: 0;
		color: wheat;
		transform:
		rotateX(0deg)
		rotateY(-15deg)
		rotateZ(0deg);
	}
}

@keyframes letter-after-animation {
	0% {transform:
		scale(1.08,1)
		rotateX(0deg)
		rotateY(0deg)
		rotateZ(0deg)
		skew(0deg,1deg);
	}
	50% {transform:
		scale(1.08,1)
		rotateX(0deg)
		rotateY(40deg)
		rotateZ(0deg)
		skew(0deg,22deg);
	}
	0% {transform:
		scale(1.08,1)
		rotateX(0deg)
		rotateY(0deg)
		rotateZ(0deg)
		skew(0deg,1deg);
	}
}

.letter:before{
	color: #fff;
	text-shadow:
		-1px 0px 1px rgba(90,90,90,.8),
		1px 0px 1px rgba(0,0,0,.8);
	z-index: 3;
	animation-name: letter-before-animation;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-delay: inherit;
}

.letter:after{
	color: rgba(0,0,0,.11);
	z-index:2;
	animation-name: letter-after-animation;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}